@import 'tailwindcss';

:root {
}

@layer base {
  html {
    @apply text-[14px];

    /* md */
    @media (width >= 48rem) {
      @apply text-[16px];
    }
  }

  body {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
  }

  h1 {
    @apply font-extrabold text-[40px] text-balance tracking-tight not-first:mt-8 mb-8;

    @media (width >= 48rem) {
      @apply text-[48px];
    }
  }

  h2 {
    @apply font-semibold text-[20px] text-balance mb-3;

    @media (width >= 48rem) {
      @apply text-[24px];
    }
  }

  a {
    @apply text-pink-700 dark:text-pink-600 hover:underline;
  }
}
