@import 'tailwindcss';

:root {
  --scale: 1.25;
}

@layer base {
  body {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
  }
}

h1 {
  @apply font-extrabold text-[48px] text-balance tracking-tight not-first:mt-8 mb-8;
}

h2 {
  @apply font-bold text-[24px] text-balance mb-4;
}

a {
  @apply text-pink-700 dark:text-pink-600 hover:underline;
}
