@import 'tailwindcss';

:root {
  --scale: 1.25;
}

h1 {
  @apply font-extrabold text-[48px] text-balance tracking-tight not-first:mt-8 mb-8;
}

h2 {
  @apply font-semibold text-[26px] text-balance not-first:mt-8 mb-4;
}
